<div class="container">
  <h4>Tweets</h4>

  <form class="form-inline">
    <div class="form-group">
      <%= form_tag do %>
        <label for="tweet-number">Number Of Tweets:</label>
        <%= number_field_tag :search, value = 5,{ id: "tweet-number", min: 1, max: 20, class: "form-control" } %>
        <label for="search-field">Username:</label>
        <%= text_field_tag :search, nil, id: "search-field", class: "form-control" %>
        <%= submit_tag "Search", id: "search-button", class: "btn btn-success" %>
      <% end %>
      <br>
    </div>
  </form>
  <br>
  <%= form_tag do %>
  <%= submit_tag "Clear Page", id: "clear-button", class: "btn btn-danger" %>
  <% end %>

  <h4>Tweets Below!</h4>

  <ol id="tweet-list"></ol>
</div>

<!-- div class="container">
  <h4>Tweets</h4>

  <div class="form-group">
    <%= form_tag do %>
      <%= number_field_tag :search, value = 5,{ id: "tweet-number", min: 1, max: 20, class: "form-control" } %>
      <%= text_field_tag :search, nil, id: "search-field", class: "form-control" %>
      <%= submit_tag "Search", id: "search-button" %>
    <% end %>
    <br>
    <%= form_tag do %>
    <%= submit_tag "Clear Page", id: "clear-button" %>
    <% end %>
  </div>

  <h4>Tweets Below!</h4>

  <ol id="tweet-list"></ol>
</div> -->
